{
    "env": {
      "browser": true,
      "node": true
    },
    "parser": "babel-eslint",
    "plugins": [
      "react",
      "prettier"
    ],
    "extends": [
      "plugin:react/recommended",
      "plugin:prettier/recommended"
    ],
    "rules": {
      "prettier/prettier": "error",
      "curly": "error",
      "default-case": "error",
      "no-var": "error",
      "prefer-const": "error",
      "no-unused-vars": 0,
      "no-undef": 0,
      "no-case-declarations": 0,
      "react/prop-types": 0,
  
      "arrow-spacing": "error",
      "spaced-comment": ["error", "always", {
        "line": {
          "markers": ["/"],
          "exceptions": ["-", "+"]
        },
        "block": {
          "markers": ["!"],
          "exceptions": ["*"],
          "balanced": true
        }
      }]
    }
  }